Django==3.1
djangorestframework==3.11.1
django-cors-headers==3.5.0
dj-rest-auth==1.1.1
django-allauth==0.42.0
whitenoise==5.2.0

# The ones below are only needed for Heroku
gunicorn==20.0.4
psycopg2==2.8.5
dj-database-url==0.5.0
